<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_SecurityTokenService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="Certificate"/>
                        <message clientCredentialType="Certificate" establishSecurityContext="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44368/STS.svc/CustomSTS"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_SecurityTokenService"
                contract="ServiceReference1.SecurityTokenService" name="WSHttpBinding_SecurityTokenService" />
        </client>
    </system.serviceModel>
</configuration>